<div class="mapd3">
</div>

<script>

var width = 960,
    height = 1160;

var svg = d3.select(".mapd3").append("svg")
    .attr("width", width)
    .attr("height", height);


  var projection = d3.geo.albers() 
    .translate([480, 250]) 
    .scale(300000) 
    .rotate([122.4183, 0]) 
    .center([0, 37.7750]); 

d3.json("json/sanfrancisco.json", function(error, sf) {
  console.log(sf);
  // console.log(sf.features[0].properties.neighborho)
  var neighborhoods = topojson.feature(sf, sf.objects.sanfrancisco);
  console.log(neighborhoods);

  var path = d3.geo.path().projection(projection);
  svg.append("path")
  .datum(topojson.mesh(sf, sf.objects.sanfrancisco))
      .attr("d", path).attr("class", "land");

  console.log(topojson.feature(sf, sf.objects.sanfrancisco).features);
  svg.selectAll(".neighborhood-label")
    .data(topojson.feature(sf, sf.objects.sanfrancisco).features)
  .enter().append("text")
    .attr("class", function(d) { return "neighborhood-label " + d.id; })
    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
    .attr("dy", ".25em")
    .text(function(d) { return d.properties.name; });
});

//payphones
d3.json("json/payphones.json", function(error, payphones) {
  // console.log(payphones);

  var path = d3.geo.path().projection(projection).pointRadius([2]);
  svg.append("path")
      .datum(payphones)
      .attr("d", path).attr("class", "phone");
 
 // console.log(payphones['features'][0]);

ringing();

//make it ring
function ringing(lat, lon, status) {
      var color = "red";
      if (status == 'connected') {
        color = "green";
      }
      var c = payphones['features'][0];
      svg.append("circle")
          .attr("cx", projection(lat)
          .attr("cy", projection(lon)
          .attr("r", 1)
          .style("fill", "red")
          .style("fill-opacity", 0.5)
          .style("stroke", color)
          .style("stroke-opacity", 0.5)
        .transition()
          .duration(2000)
          .ease(Math.sqrt)
          .attr("r", 20)
          .style("fill-opacity", 1e-6)
          .style("stroke-opacity", 1e-6)
          .remove();
        setTimeout(ringing, 2000);
    }
});

var source = new EventSource('/livemap');
source.addEventListener('message', function(e) {
  console.log("server sent:");
  console.log(e);
  var data = JSON.parse(e.data);
  $.each(data, function(i, phone) {
    ringing(phone.lat, phone.lon, phone.status);
  })

}, false);

</script>	
