<div class="container">
	<div class="row">
		<div id="left-column">
			<div class="span2">
					<div class="row" id="header-logo">
						<a href="/">
							<img src="assets/openbooth.png"></img>
						</a>
						<h1>Open Booth</h1>
					</div>

				<div class="row">
					<div id="container-nav">
				      	<ul class="nav nav-stacked">
						  	<li><a href="#operator" data-toggle="tab">Pay Phone</a></li>
							<li><a href="#numbers" data-toggle="tab">Demo</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	<!-- main column -->	
	<div class="span9">
		<div class="tab-content main-container">
			<div class="tab-pane active" id="operator">
				<%= render :partial => "callbox" %>
			</div>
			<div class="tab-pane" id="numbers">
		        <%= render :partial => "phone_numbers" %>
			</div>

		</div>
      </div>
    </div>

   <!-- close row -->
  </div>
</div>
