<div id="allthethings">
	<div class="row">
		<div id="left-column">
			<div class="span4">
					<div class="row" id="header-logo">
<!-- 						<a href="/">
							<img src="assets/openbooth.png"></img>
						</a> -->
						<h1>SF PayPhones</h1>
					</div>
					<div class="row">
						<p> All the payphones in San Francisco, circa sometime before now. Call them by neighborhood, ask whoever answers about the weather, or put a wrench in city-wide spy activity. Ringing phones will show red on the map, and connected calls will turn green.
						</p>
						<p> <strong>Text the name of the neighborhood to 415-508-6687</strong> to be connected with all the payphones in that neighborhood. Neighborhoods are case sensitive. 
						</p>
						<div class="span2">
							<ul>
								<li>Bayview</li>
								<li>Bernal Hill</li>
								<li>Castro</li>
								<li>Chinatown</li>
								<li>Civic Center</li>
								<li>Crocker Amazon</li>
								<li>Excelsior</li>
								<li>Financial District</li>
								<li>Glen Park</li>
								<li>Haight</li>
								<li>Inner Richmond</li>
								<li>Inner Sunset</li>
								<li>Lakeshore</li>
								<li>Marina</li>
								<li>Mission</li>
								<li>Nob Hill</li>
								<li>Noe Valley</li>
							</ul>
						</div>
						<div class="span2">
							<ul>
								<li>North Beach</li>
								<li>Ocean View</li>
								<li>Outer Mission</li>
								<li>Outer Richmond</li>
								<li>Outer Sunset</li>
								<li>Pacific Heights</li>
								<li>Parkside</li>
								<li>Potrero Hill</li>
								<li>Presidio Heights</li>
								<li>Russian Hill</li>
								<li>Seacliff</li>
								<li>SOMA</li>
								<li>Tenderloin</li>
								<li>Twin Peaks</li>
								<li>Visitacion Valley</li>
								<li>West of Twin Peaks</li>
								<li>Western Addition</li>
							</ul>						
						</div>
					</div>
					<div class="row">
						<p>See the masterlist <a href="https://docs.google.com/spreadsheet/pub?key=0AhXimdB90zwNdFk1dmlzbjNSclVkUmliQU4wU2hyOHc&output=html">here</a>.</p>
						<p>Check out this project on github, <a href="https://github.com/emilyville/callbox">here</a>.</p>
					</div>


				<!-- <div class="row">
					<div id="container-nav">
				      	<ul class="nav nav-stacked">
						  	<li><a href="#operator" data-toggle="tab">Pay Phone</a></li>
 							<li><a href="#numbers" data-toggle="tab">Demo</a></li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>

	<!-- main column -->	
	<div class="span9">
		<div class="main-container">
			
			<%= render :partial => "callbox" %>
		
		</div>
    </div>

   <!-- close row -->
  </div>
</div>
</div>
