body {
	font-family: 'Maven Pro', sans-serif;
	color: #616161;
}

#allthethings {
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

p, ol, ul, td {
	font-size: 12px;	
}

a {
	color: red;
}

#map {
	z-index: 0;
}

a:hover {
	color: #ffffff;
}

#header-logo h1 {
	display: inline-block;
	font-weight: 900;
	font-size: 40px;
	line-height: 1.2;
}

#container-nav {
	margin: 0px -31px 0px -28px;
}

.nav-stacked {
	margin-top: 25px;
}
.nav-stacked>li{
	text-align: right;
}
.nav-stacked>li>a {
	border: 1px solid #ffffff;
	padding: 10px;
}


li.active {
	background-color: #99CCCC;
	border-radius: 0px 0px 0px 0px; 
}	

#left-column {
	background: rgba(255,255,255, .7); 
	z-index: 10000000;
	margin-left: 60px;

}

.mapd3 {
	position: absolute;
	top: 0px;
	bottom: 0px; 
	right: -80px;
/*	background: url('map-bg.png');
*/}